.DS_Store
**/.DS_Store

# Dependencies
node_modules/

# Build output
dist/
build/
.next/
coverage/

# Environment
.env
.env.*
!.env.example

# Kotlin/Gradle
.kotlin
.gradle
**/build/
local.properties
.idea
*.iml

# Xcode
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
